# This is Git's per-user configuration file.
[user]
	name = ""
	email = ""
	signingkey = ""

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[pull]
	rebase = true

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
	insteadOf = http://github.com/

[url "ssh://gist@github.com/"]
	insteadOf = https://gist.github.com/
	insteadOf = http://gist.github.com/

[alias]
  co = checkout
  wt = worktree
  lo = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  praise = blame
  pushf = push --force-with-lease
	amend = commit --amend
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	sus = "!git branch --set-upstream-to=origin/$(git branch-name)"
